<div class="w-3/4 h-full flex items-center justify-center">
  <div class="m-10 transform rotate-6 rounded-3xl bg-blue">
    <div class="m-5 bg-white transform -rotate-6 bourder-black border-2 rounded-xl items-center">
      <div class="m-5 flex flex-row items-center">
        <img src="../../../assets/linkedin.svg" class="h-12" alt="logoLinkedin">
        <a class="ml-6 text-2xl" href="https://www.linkedin.com/in/mireia-s/">www.linkedin.com/in/mireia-s</a>
      </div>
      <div class="m-5 flex flex-row items-center">
        <img src="../../../assets/emailContact.png" class="h-12" alt="logoContacto">
        <a  (click)="openMail()" class="ml-6 email text-2xl">misala91@gmail.com</a>
      </div>
      <div class="m-5 flex flex-row items-center">
        <img src="../../../assets/github.svg" class="h-12" alt="logoContacto">
        <a href="https://github.com/MireiaSanchez" class="ml-6 text-2xl">MireiaSanchez</a>
      </div>
  </div>
  </div>
</div>

