<div class="m-10">
  <div class="w-full h-2/5 m-14 transform rotate-6 rounded-3xl bg-blue">
    <div class="m-5 bg-white transform -rotate-6 bourder-black border-2 rounded-xl items-center">
      <div class="m-5 flex flex-row items-center">
        <img src="../../../assets/linkedin.svg" class="h-12" alt="logoLinkedin">
        <a class="ml-4" href="https://www.linkedin.com/in/mireia-s/">www.linkedin.com/in/mireia-s</a>
      </div>
      <div class="m-5 flex flex-row items-center">
        <img src="../../../assets/emailContact.png" class="h-12" alt="logoContacto">
        <p class="ml-4">misala91@gmail.com</p> 
      </div>
      <div class="m-5 flex flex-row items-center">
        <img src="../../../assets/github.svg" class="h-12" alt="logoContacto">
        <a href="https://github.com/MireiaSanchez" class="ml-4">MireiaSanchez</a> 
      </div>
  </div>
  </div>
</div>

